* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--base-color);
    color: var(--accent-color);
    font-family: var(--base-font);
}

h1 {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-size: 2em;
}

p {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-size: 1em;
    text-align: center;
}

.menu {
    color: var(--accent-color);
}

.menu ul li a {
    color: var(--accent-color);
    text-decoration: underline;
}

.menu ul li ul {
    /* Drop-down menuen */
    display: none;
    flex-direction: column;
    color: white;
}

.menu ul li:hover ul {
    display: flex;
    position: absolute;
    border: 1px solid white;
    color: white;
    background-color: rgb(157, 169, 169);
}